<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <!-- <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div> -->
  <div class="field">
    <%= f.label :black %>
    <%= radio_button( "product", "colour", "black") %>
    <%= f.label :white %>
    <%= radio_button( "product", "colour", "white") %>
    <%= f.label :grey %>
    <%= radio_button("product", "colour", "grey") %>
    <%= f.label :charcoal %>
    <%= radio_button("product", "colour", "charcoal") %>
    <%= f.label :blue %>
    <%= radio_button("product", "colour", "blue") %>
    <%= f.label :red %>
    <%= radio_button("product", "colour", "red") %>
    <%= f.label :green %>
    <%= radio_button("product", "colour", "green") %>
    <%= f.label :yellow %>
    <%= radio_button("product", "colour", "yellow") %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
