<p id="notice"><%= notice %></p>

<p>
  <strong>product one</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Shirt with Logo</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
	<strong>White</strong>
	<%= @product.colour %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
