<p id="notice"><%= notice %></p>

<p>
  <strong>Basic Tee:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Digital Stencil:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Preview:</strong>
  <%= image_tag('digitalstencil.png') %>

<p>
	<strong>Colours:</strong>
	<%= @product.colour %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
